#workingDocContainer {
    padding: 25px;
}
.WorkingDoc-buttonContainer {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    margin-bottom: -5px;
}
.Contract-contractContainer {
    height: 610px;
    overflow-y: scroll;
}